#Note: If this file prevents running vector in your environment, simply delete
#      it. Everything should be safe even if the files blocked by the following
#      Apache rules are accessible.
#      The reason for protecting these files is to keep searchengines/foo
#      away from indexing files containing version information, names and/or not
#      necessarily public template parts by default.
<IfModule mod_authz_core.c>
  Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
  Order allow,deny
  Deny from all
</IfModule>
